body {
    font-family: 'Brush Script MT', cursive;
    background-color: aliceblue;
}

.title {
    text-align: center;
    margin-bottom: 80px;
}

.content {
    text-align: center;
}

ul {
    list-style-position: inside;
    padding-inline-start: 0px;
}
